.link {
  font-size: 20px;
  text-decoration: none;
  transition: opacity 0.2s;
  color: #ffffff;
  font-weight: 900;
  transition: transform 0.35s ease-out;

  &:hover {
    transform: scale(1.1);
  }
}
